.btn {
  padding: 8px 12px;
  border-radius: 4px;
  border: solid 2px #999;
  color: #333;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  transition: background-color .2s;
  display: inline-flex;
  align-items: center;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    background: #ddd;
  }

  &.active {
    background: #888;
  }

  &_success {
    border-color: forestgreen;
    &:hover {
      background: lightgreen;
    }
  }

  &_danger {
    border-color: coral;
    &:hover {
      background: antiquewhite;
      background: lightsalmon;
    }
  }
}
