extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    .container
        .tabs
            .tabs__title
                h1 Тестовое задание для позиции Front-end Developer
            .tabs__control
                button.btn(data-target="tab1") Canvas
                button.btn(data-target="tab2") SPA
            .tabs__content
                .tabs__tab#tab1
                    include ../components/Canvas/Canvas
                .tabs__tab#tab2
                    include ../components/Table/Table
