.table {
  border: 2px solid #eee;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;

  &__header {
    font-weight: bold;
    border-bottom: 2px solid #eee;
  }

  &__footer {
    padding: 24px 0;
    border-top: 2px solid #eee;
  }

  &__row {
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }

  &__col {
    display: flex;
    padding: 16px;

    &:not(:last-child) {
      flex: 3;
    }
    &:last-child {
      flex: 1;
      gap: 4px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
